<h1>Hyper-Bot Documentation</h1>
<h2><b>Commands</b></h2>
<i>$ping</i>
<p>Pings the bot. If active, the bot will respond with "Pong!"</p>
<i>$getrating @Username - 1 param, a tagged Discord member</i>
<p>Returns the rating of the tagged user. <u>TODO: If no argument is passed, it will return the rating of the user that calls the function.</u></p>
<i>$gettop</i>
<p>Returns the top two rated players on the server.</p>
